            .picture {
                width: 28px;
                height: 28px;
                border: none;
                border-radius: 15px;
                object-fit: cover;
                vertical-align: middle;
            }
        
            .search-button {
                font-size: 12px; 
                width: 300px;
                border: none;
                border-color: gray;
                border-width: 1px;
                border-radius: 13px;
                padding-left: 12px;
                padding-top: 6px;
                padding-right: 80px;
                padding-bottom: 6px;
                border-style: solid;
                box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
                vertical-align: middle;
                transition: opacity 1s;
            }
            .search-button:active {
                opacity: 0.5;
            }