* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    color: #212529;
    scroll-behavior: smooth;
}

/*
1. Vị trí
2. Kích thước (width, heigth)
3. Màu sắc
4. Kiểu dáng
*/

                        /* HEADER: BEGIN */

#header {
    height: 85px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px;
    border-color: green;
    border-bottom-width: 1.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .menu {
    width: 100%;
    max-width: 1200px;
    flex: 1;
    align-items: center;
    text-align: center;
    position: relative;
}

#header .logo {
    margin-left: 100px;
}

#nav, .subnav {
    list-style: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {    
    color: black;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: black;
    transition: transform 0.5s;
}
#nav li a:hover::after {
    transform: scale(1);
}


#nav .subnav a {
    color: black;
    padding: 0px 16px;
}


#nav .subnav {
    position: absolute;
    display: none;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0  10px rgba(0,0,0,0.3);
    min-width: 160px;
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-button {
    float: right;
    padding: 0 21px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 100px;
    
}

#header .input-box {
    width: 200px;
    height: 35px;
    border-width: 1px;
    border-radius: 15px;
    padding-left: 10px;
    
}

#header .search-button:hover {
    cursor: pointer;
}

#header .search-search {
    position: absolute;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 170px;
    padding-bottom: 10px;
    
}

#header .search-book {
    margin-left: 10px;
    font-size: larger;
}

.search-shopping {
    margin-left: 10px;
    font-size: larger;

}

.book-user {
    position: relative;
    display: inline-block;
}

.hover-text {
    width: 100px;
    height: 55px;
    position: absolute;
    top: 20px;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
}

.book-user:hover .hover-text{
    display: block;
}

.hover-text a {
  margin: 0 5px;
  text-decoration: none;
  color: #333;
}

.hover-text a:hover {
  color: #007BFF;
}
        /*   HEADER-END */
.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: -10px;
    margin-right: -10px;
}
.img-book img {
    width: 350px;
    height: auto;
}
.namebook {
    font-weight: 500px;
}
.author {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.author .sytle-author {
    font-weight: bold;
}
.price {
    padding-top: 15px;
    padding-bottom: 15px;
}
.price .prodcut-price {
    color: forestgreen;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    margin-right: 10px;
}
.price .old-price {
    font-size: 20px;
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}
.price .sale-price {
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    width: 49px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
.button-number {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 120px;
}
.button-number button  {
  width: 30px;
  height: 35px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s;
}
.button-number button:hover {
    background-color: #f2f2f2;
}
.button-number input {
  width: 60px;
  height: 35px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
}
.button-buy p{
    margin-top: 10px;
    color: gray;
}

.button-action {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    cursor: grab;
}
.button-action .btn-left {
    height: 65px;
    width: 224px;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    color: forestgreen;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    transition: background 1s;
     color: 1s;
}
.button-action .btn-left:hover {
    background-color: forestgreen;
    color: white;
}
.button-action .btn-right {
    height: 65px;
    width: 224px;
    background-color: forestgreen;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    transition: background 1s;
     color: 1s;
}
.button-action .btn-right:hover {
    background-color: white;
    color: forestgreen;
}


/* ROW: END */

/* CONTENT:BOOK*/
.child-row {
    display: flex;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.intro-book {
    max-width: 1000px;
}
.intro-book h3 {
    font-size: 21px;
    margin-bottom: 20px;
    color: forestgreen;
    margin-left: 100px;
}
.content-book p{
    font-size: 17px;
    margin-left: 100px;
    margin-bottom: 18px;
    text-align: justify;
}
.about-book {
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 16px 20px;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-book .title-intro {
    color: forestgreen;
    font-weight: 600px;
    font-size: 21px;
    margin-bottom: 18px;
}
.book-info-detail {
  list-style-type: disc; 
  padding-left: 20px;
  margin: 0;
}
.book-info-detail li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  line-height: 1.5;
}
.book-info-detail li span:first-child {
  color: #333;
}

.book-info-detail li span:last-child {
  font-weight: 600;
  color: #000;
}

/*FOOTTER */

.container {
    border-top: solid;
    border-top-width: 1.6px;
    border-color: forestgreen;
}
.row {
    display: flex;

}
.first-col {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 50px;
}
.list-menu,
.list-contact {
    list-style-type: none;
}
.first-col img {
    width: 70px;
}
.first-col i {
    color: forestgreen;
    margin-right: 5px;
}
.third-col,
.second-col {
    margin-left: 280px;
    margin-top: 70px;
    font-size: 18px;
    line-height: 50px;
}
.title-menu {
    font-size: larger;
    color: forestgreen;
}

.social {
    font-size: 35px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.social a {
    color: #757575;
    text-decoration: none;
}
.social a:hover {
    opacity: 0.5;
}
.word-footer {
    font-size: 17px;
    display: flex;
    justify-content: center;
}
.copy-right  a{
    margin-top: 15px;
    font-size: 16px;
    color: #757575;
}






