* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400px;
    color: #212529;
    scroll-behavior: smooth;
}
body {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlideUp 1s ease-out forwards;
}
@keyframes fadeSlideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*
1. Vị trí
2. Kích thước (width, heigth)
3. Màu sắc
4. Kiểu dáng
*/

                        /* HEADER: BEGIN */

#header {
    height: 85px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid;
    border-color: green;
    border-bottom-width: 1.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .menu {
    width: 100%;
    max-width: 1200px;
    flex: 1;
    align-items: center;
    text-align: center;
    position: relative;
}

#header .logo {
    margin-left: 100px;
}

#nav, .subnav {
    list-style: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {    
    color: black;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    background-color: black;
    transition: transform 0.5s;
}
#nav li a:hover::after {
    transform: scale(1);
}


#nav .subnav a {
    color: black;
    padding: 0px 16px;
}


#nav .subnav {
    position: absolute;
    display: none;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0  10px rgba(0,0,0,0.3);
    min-width: 160px;
    
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-button {
    float: right;
    padding: 0 21px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 100px;
    
}

#header .input-box {
    width: 200px;
    height: 35px;
    border-width: 1px;
    border-radius: 15px;
    padding-left: 10px;
    
}

#header .search-button:hover {
    cursor: pointer;
}

#header .search-search {
    position: absolute;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 170px;
    padding-bottom: 10px;
    
}

#header .search-book {
    margin-left: 10px;
    font-size: larger;
}

.search-shopping {
    margin-left: 10px;
    font-size: larger;

}

.book-user {
    position: relative;
    display: inline-block;
}

.hover-text {
    width: 100px;
    height: 55px;
    position: absolute;
    top: 20px;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 6px 12px;
    font-size: 14px;
}

.book-user:hover .hover-text{
    display: block;
}

.hover-text a {
  margin: 0 5px;
  text-decoration: none;
  color: #333;
}

.hover-text a:hover {
  color: #007BFF;
}

                      /* HEADER: END */

                      /* CONTENT-SLIDER: BEGIN */
#slider {
    background-image: url('./img/ms_banner_img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 39%;
}

#slider .text-content {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}

                    /* CONTENT-SLIDER: END */

                    /* CONTENT-ABOUT US : BEGIN */
#content-contact,
#content-newbooks,
#content-author,
#content {
    padding-left: 85px;
    padding-right: 85px;
    margin-top: 20px;
}

.title-header {
    border-top: solid 1.6px forestgreen;
    padding-top: 20px;
    padding-bottom: 22px;
}
/* CAC TITLE HEADER CUA TUNG CONTENT*/
.title-header h5,
.title-header h4,
.title-header h3,
.title-header h2  {
    font-size: 25px;
    color: forestgreen;
    margin: 0;
}

#content .about-content {
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 0px 55px;
    display: flex;
    align-items: flex-start;
}

#about-us .content-section {
    padding: 0 65px;
    margin-bottom: 100px;
}

#about-us .section-spanhead {
    font-size: 20px;
    margin-bottom: 60px;
    font-style: italic;
    color: forestgreen;
    line-height: 60px;
}

#about-us .section-subheading {
    font-size: 120%;
    line-height: 30px;
}

#about-us .section-button {
    width: 120px;
    height: 45px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 3px;
}

#about-us .section-button:hover {
    color: forestgreen;
    background-color: white;
    border: 1px forestgreen solid;
}

.content-img {
    margin-left: 100px;
}

                     /* CONTENT-ABOUT US : END */

                      /* CONTENT-NEWBOOKS : BEGIN */

.list-book {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.about-newbooks {
    display: flex;
    align-items: flex-start;  
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-book {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
}

.content-book img {
    width: 90%;
    height: 330px;
    object-fit: cover;
    border-radius: 1px;
    transition: transform 0.3s ease;
}
.content-book .book-child {
    align-items: center; 
}
.content-book:hover .book-love,
.content-book:hover .book-horror,
.content-book:hover .book-history,
.content-book:hover .book-child {
    transform: scale(1.08);
}

    /* NUT MUA HANG*/
.content-book .action-cart {
    display: flex;
    cursor: grab;
    height: 45px;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    visibility:hidden;
    transform: translateY(40px);
    transition: all 0.8s ease;
}
.content-book:hover .action-cart {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#newbooks .buy-btn-left {
    align-items: center;
    background-color: white;
    width: 44px;
    height: 46px;
    border: 1px solid forestgreen;
    border-radius: 4px;
    color: forestgreen;
    font-size: large;
    margin-right: 2px;
    cursor: pointer;
    transition: background-color 1s;
     color: 1s;
}

#newbooks .buy-btn-left:hover {
    background-color: forestgreen;
    color: white;
}
#newbooks .buy-btn-right {
    height: 46px;
    width: 160px;
    background-color: forestgreen;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s;
     color: 1s;
}
#newbooks .buy-btn-right:hover {
    background-color: white;
    color: forestgreen;
}

/*  THONG TIN SACH  */
#newbooks .info-book {
    text-align: center;
    margin-top: 15px;
    color: #333; 
}
#newbooks .info-book p,
#newbooks .info-book h3  {
    display: inline-block;  
}



               /* CONTENT-NEWBOOKS : END */

              /* CONTENT-AUTHORS : BEGIN */
.list-author {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    
}
.author-item-base {
    display: flex;
    height: 180px;
    width: 180px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background:#f4f4f4;
    border-radius: 100px;
    margin-top: 20px;
}
.author-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
       /* CONTENT AUTHOR: END */

       /* CONTENT CONTACT: BEGIN */
.contact-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.contact-row .box {
    min-height: 300px;
    display: flex;
    text-align: left;
    flex-direction: column;
}
.box .last-box,
.box .first-box {
    width: 200px;
    height: 55px;
    background-color: white;
    padding-right: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-color: gray;
    border-width: 1px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px;
}
.box .mail-box {
    width: 419px;
    height: 70px;
    background-color: white;
    padding-right: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    border-color: gray;
    border-width: 1px;
    font-size: 16px;
    margin-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}
.box .sign-box {
    width: 85px;
    height: 50px;
    font-weight: bold;
    background-color: forestgreen;
    color: white;
    border: solid 1px black;
    border-radius: 4px;
    transition: all 0.9s ease;
}
.sign-box:hover {
    transform: translateY(0);
    background-color: white;
    color: forestgreen;
    border: forestgreen solid 1px;
}
.contact-list {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px 6px;
}
.contact-list i::before {
    margin-right: 5px;
}
